---
layout: default
title: Awards
navbar_title: Awards
---

<div class="row">
  <div class="col-lg-3 col-md-4">
    {% include widgets/profile_card_mini.html %}
  </div>
  <div class="col-lg-9 col-md-8">
    <div class="row mt-3">
      <div class="col">
        <div class="card border-0 shadow-sm bg-white">
          <div class="card-body p-4">
            <h5 class="mb-3">Honors & Awards</h5>
            {% if site.data.profile.awards %}
            <ul class="list-unstyled mb-0">
              {% for item in site.data.profile.awards %}
              <li class="media mb-3">
                <div class="media-body">
                  <div class="d-flex">
                    <div>{{ item.name }}</div>
                    <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p class="text-muted mb-0">No awards to display.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

