<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-lg-6 awards-section">
                        <div class="mx-2 my-1">
                            <h6>Honors & Awards</h6>
                            {% assign homepage_awards = site.data.profile.awards | where_exp: "a", "a.homepage != false" %}
                            <ul class="list small pl-3 mb-1">
                                {% for item in homepage_awards %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <style>
                            /* Scoped styles to match "View Showcase" button */
                            .awards-section .fancy-btn {
                              outline: none;
                              cursor: pointer;
                              border: none;
                              padding: 0.6rem 1.2rem;
                              margin: 0.2rem 0 0; /* slight top gap */
                              font-family: inherit;
                              position: relative;
                              display: inline-block;
                              letter-spacing: 0.05rem;
                              font-weight: 700;
                              font-size: 14px;
                              border-radius: 500px;
                              overflow: hidden;
                              background: #66ff66;
                              color: ghostwhite;
                              text-decoration: none;
                              line-height: 1;
                            }
                            .awards-section .fancy-btn span { position: relative; z-index: 10; transition: color 0.4s; }
                            .awards-section .fancy-btn:hover span { color: black; }
                            .awards-section .fancy-btn::before {
                              position: absolute; top: 0; left: -10%; width: 120%; height: 100%; content: ""; z-index: 0;
                              background: #000; transform: skew(30deg); transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                            }
                            .awards-section .fancy-btn:hover::before { transform: translate3d(100%, 0, 0); }
                            </style>
                            <a class="fancy-btn" href="{{ '/awards' | relative_url }}" role="button" aria-label="View all awards">
                              <span><i class="fas fa-arrow-right"></i> View all</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
